<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %>
  <title>Admin Control</title>
</head>
<body>
  <header>
    <%- include('templates/header') %>
  </header>
  
  <div id="app">

HELLO

  </div>

  <!--Importing AR Button-->
  <script type="module" src="https://unpkg.com/@leoncvlt/ar-button"></script>
  <!-- Importing Modelviewer -->
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="js/db.js"></script>

  <footer>
    <%- include('templates/footer') %>
  </footer>
</body>
</html>