<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %>
  <title><%= title %></title>
</head>
<body>
  <header>
    <%- include('templates/header') %>
  </header>
  <!--site first banner-->
  <div class="site-banner-first">
    <img src="img/let-your-hair-do-the-talking.png" alt="let-your-hair-do-the-talking">
  </div>
  <!--site second banner-->
  <div class="site-banner-second">
    <div class="second-banner-text">
      <h2>5 in 1 hot air brush</h2>
      <p>short-descripption-required</p>
      <div class="banner-btn">
        <a href="#">learn more ></a>
      <a href="#">enquire now ></a>
      </div>
    </div>
    <img src="img/the-product-you-cannot-miss.png" alt="the-product-you-cannot-miss">
  </div>

  <!--mini and professional range-->
  <div class="product-section">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="mini-range">
        <h2>mini range</h2>
        <p>short-descripption-required</p>
        <a href="#">learn more ></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="professional-range">
        <h2>professional range</h2>
        <p>short-descripption-required</p>
        <a href="#">learn more ></a>
      </div>
    </div>
  </div>
  </div>

  <!--our story-->
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <div class="our-story">
        <h2>our story</h2>
        <p>Mprés is a brand incorporated in March 2021, started with a B2B vision.The vision to serve multiple brands with millions of buyers and helping them with all their hair appliance needs. From minis to professional Mprés has it all. We understand that when we buy a product, we all have certain performance value expectations from it and to ensure that we have tried hard to bring in that value very strongly into every Mprés product you own. Each and every time!</p>
      </div>
    </div>
  </div>

  <!--reach-us-banner-->
  <div class="reach-us-banner">
    <div class="reach-us-banner-text">
      <h2>flaunt your hair with mprés care!</h2>
      <a href="#">reach us ></a>
    </div>
    <img src="img/reach-us-banner-home.png" alt="reach-us-banner-home">
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>

  <footer>
    <%- include('templates/footer') %>
  </footer>
</body>
</html>