h1{
    font-family: 'Bebas Neue', cursive;
}
p,a{
    font-family: 'Roboto', sans-serif;
}

/* header */
header{
    background-color: #2b2b2b;
    padding: 15px 0px;
}
.site-logo .logo-img{
    width: 75px;
}
ul{
    width: 30%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
header ul li a.nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 100;
}
header ul li a.nav-link:visited{
    color: #fff;
}
header ul li a.nav-link:hover{
    color: #c6c6c6;
}
.site-nav-bar{
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-btn{
    background-color: #0066cc;
    border-radius: 25px;
    padding: 5px 12px 7px 12px;
}
.contact-btn a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
/*home-body*/
.site-banner-first img{
    width: 100%;
}
.site-banner-second img{
    width: 100%;
}
.mini-range{
    width: 250px;
    height: 250px;
    background-color: grey;
}
.professional-range{
    width: 250px;
    height: 250px;
    background-color: grey;
}
.reach-us-banner img{
    width: 75%;
    margin: 0px autos;
}
/*about-body*/
.banner-img img{
    width: 60%;
    display: flex;
    margin: 0px auto;
}
.certificates-img{
    width: 40%;
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
}
.certificates-img img{
    width: 35%;
    display: flex;
}
.certificates-img .cb{
    width: 25%;
}
.manufacturing-facility img{
    width: 60%;
    display: flex;
    margin: 0px auto;
}
/*footer*/
footer {
    background-color: #999999;
    padding: 0px 15px;
}
.footer-logo img{
    width: 40%;
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
}

.details-box .address p a{
    width: 25px;
}