<footer>
    <div style="display: flex; justify-content: center;"                                                                                              >
        <h1>This is Footer</h1>
    </div>
</footer>