<div class="container">
  <div class="site-nav-bar">
    <div class="site-logo">
        <a href="/"><img class="logo-img" src="img/mpres-logo.png" alt="mpres-logo"></a>
    </div>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <div class="contact-btn">
        <a href="/contact.ejs">Contact</a>
    </div>
  </div>    
</div>